body {
  font-family: "Inter Tight", sans-serif;
  background: #A72A22;
}

h2, h4 {
  font-family: "Inter Tight", sans-serif;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: .3em;
  color: white;
  font-size: 2em;
  text-align: center;
  letter-spacing: .1em;
}

h4 {
  text-align: center;
  color: #C4C4C4;
  margin-top: 0;
  margin-bottom: 2em;
  font-style: normal;
  letter-spacing: .1em;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 2px;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  border-radius: .1em;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calendar-box {
  position: relative;
  background-color: white;
  color: #010101;
  font-size: 8px;
  text-align: left;
  padding: 1.5em;
  /* border: 1px solid #C4C4C4; */
  border: 1px solid #2F8CDA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  border-radius: .1em;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.calendar-box:hover {
  background-color: #3FAFDA;
  transform: scale(1.05);
}

li {
  list-style: none;
}

.calendar-box p {
  margin: 0;
  text-align: center;
  font-size: 2em;
}

.opened {
  text-transform: uppercase;
  border-radius: .5em;
  padding: .2em .1em;
}

.fas {
  position: absolute;
  top: 5px;
  left: 5px;
  margin-top: 0;
}